.footer-label-span {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color-white);
  display: block;
}
.footer-input-maill {
  height: 50px;
  min-width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 20px;
  padding-left: 16px;
  background: #2f303a;
  color: var(--background-color-white);

  &::placeholder {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
.footer-form-wraper {
  display: flex;
  padding-top: 12px;
  margin-left: 92px;
}

.footer-button-subscriber {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px 10px 10px 29px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 36px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);

  &:focus,
  &:hover {
    background: var(--botton-hover-blue);
  }
}
.footer-vector-subscriber {
  margin-left: 10px;
  margin-right: 18px;
}
.footer-button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--background-color-white);
}
