.container .header__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.header__container {
  display: flex;
  align-items: center;
  height: 80px;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}

.nav-list__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover::after,
.nav-list__link:focus::after {
  transform: scaleX(1);
}

.nav-list__item {
  margin-right: 50px;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.current {
  color: var(--accent-color);
}

.current:active {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact a {
  color: var(--secondary-text-color);
  text-decoration: none;
}
.contact a:hover,
.contact a:focus {
  color: var(--accent-color);
}
.contact {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  margin-left: auto;
  line-height: 1.2;
  height: 80px;
  letter-spacing: 0.02em;
}
.contact__size {
  display: flex;
  margin-right: 30px;
}

.head-contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--timing-function);
}
.mail-icon {
  margin-right: 10px;
  fill: currentColor;
}
.head-contact-link:hover,
.head-contact-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}
